/* General Styles */
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

/* Navbar Active State */
.nav-link.active {
  background-color: #00387c;
}

/* Hero Section */
.hero-section {
  background-image: url("https://www.itl.cat/pngfile/big/328-3286624_uefa-champions-league-2020-final.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: move 5s ease-in-out infinite;
}

@keyframes move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hero-section h1 {
  text-shadow: 0 0 15px #00ffff;
}

#coding-animation {
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
}

.cursor {
  font-weight: bold;
  font-size: inherit;
  animation: blink 0.7s steps(2, start) infinite;
  color: black;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* Instagram Icon Gradient Hover */
.instagram-link:hover {
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}